<h3>Create an Account</h3>
<form (ngSubmit)="onSubmit()" class="ui form" [formGroup]="authForm">
  <app-input
    label="Username"
    inputType="text"
    [control]="authForm.controls.username"
  >
  </app-input>
  <app-input
    label="Password"
    [control]="authForm.controls.password"
    inputType="password"
  >
  </app-input>
  <app-input
    label="Password Confirmation"
    [control]="authForm.controls.passwordConfirmation"
    inputType="password"
  >
  </app-input>
  <div
    *ngIf="
      authForm.controls.password.touched &&
      authForm.controls.passwordConfirmation.touched &&
      authForm.errors
    " 
    class="ui red basic label">
   <p *ngIf="authForm.errors?.['passwordsDontMatch']">
     Password and Password Confirmation don't match.
   </p>
   <p *ngIf="authForm.errors?.['noConnection']">
    No connection detected, failed to sign up.
  </p>
  <p *ngIf="authForm.errors?.['unknownError']">
    Faild to sign up.
  </p>
  </div>
  <div>
    <button class="ui submit button primary">
      Submit
    </button>
  </div>
</form>

<!-- {{ authForm.errors | json }} -->
