<form
  [formGroup]="emailForm"
  class="ui form"
  (ngSubmit)="onSubmit()"
>
  <app-input
   label="To"
   inputType="email"
   [control]="emailForm.controls['to'] | formControl"
  ></app-input>

  <app-input
    label="From"
    inputType="email"
    [control]="emailForm.controls['from'] | formControl"
  ></app-input>

  <app-input
    label="Subject"
    inputType="text"
    [control]="emailForm.controls['subject'] | formControl"
  ></app-input>
  <app-input
    label="Content"
    inputType="text"
    controlType="textarea"
    [control]="emailForm.controls['text'] | formControl"
  ></app-input>
  <button class="ui button primary">Send</button>
</form>
