<div class="field">
  <label for="">{{label}}</label>
  <input
    *ngIf="controlType === 'input'"
    [formControl]="control"
    [type]="inputType"
    />

    <textarea *ngIf="controlType === 'textarea'"
      [formControl]="control"
    >
    </textarea>
  <div *ngIf="showErrors()" class="ui pointing red basic label">
    <!-- {{ control.errors | json }} for degugging -->
    <div *ngIf="control.errors?.['required']">
      {{label}} is required
    </div>
    <div *ngIf="control.errors?.['minlength']">
      {{label}} entered length is {{control.errors?.['minlength'].actualLength}}. It must be at least {{control.errors?.['minlength'].requiredLength}} characters.
    </div>
    <div *ngIf="control.errors?.['maxlength']">
      {{label}} entered length is {{control.errors?.['maxlength'].actualLength}}. It must be no more than {{control.errors?.['maxlength'].requiredLength}} characters
    </div>
    <div *ngIf="control.errors?.['pattern']">
      {{label}} must be include only letters and numbers.
    </div>
    <div *ngIf="control.errors?.['noConnection']">
      Can't tell if the user name is taken. Check your internet connection.
    </div>
    <div *ngIf="control.errors?.['nonUniqueUsername']">
      {{label}} must be unique, "{{control.value}}" is taken!
    </div>
    <p *ngIf="control.errors?.['email']">
      Enter a valid email
    </p>
  </div>

